.admin-content {
    background: #f9f9f9;
    padding: 3%;
}
.admin-tab-content {
    background: #fff;
    padding: 20px;
    border: solid thin #e1e1e1;
}
.admin-hotel-content p {
    margin: 0!important;
}
.admin-hotel-content .fa-h-square {
    border: solid thin #e1e1e1;
    border-radius: 50%;
   padding: 10px 12px;
   color: #e04f67;
}
.admin-hotel-content .hotel-first-para {
    padding-left: 50px;
    margin-top: -12px!important;
    color: #999;
    font-size: 11px !important;
}
.admin-hotel-content span {
    padding-left: 10px;
}
.admin-hotel-content .para-color {
    color: #999!important;

}
.admin-hotel-content .admin-booking-para {
    text-transform: uppercase;
    display: block;
    color: #555;
    font-size: 11px!important;
    line-height: 12px;
    font-weight: bold;
}
.custom-admin-edit-btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #999;
    /* background: #51bce6; */
    cursor: pointer;
    padding: 7px 8px;
    font-size: 11px;
    line-height: 9px;
    display: block;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0;
}
.btn-info {
    color: #fff;
}
.wihlist-content .custom-img-box {
    width: auto;
    height: auto;
}
.setting-content h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;

}
.profile-content h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.admin-upper-most-para {
    color: #fff;
}
.custom-hotel-buttons button {
    margin: 0 50px;
}
.custom-hotel-buttons .custom-view-btn {
    padding: 5px 25px;
}
.custom-hotel-form {
    margin-top: 40px;
}
.custom-hotel-form .custom-book-input {
    border-top: none!important;
    border-right: none!important;
    border-left: none!important;
    box-shadow: none!important;
    border-radius: 0!important;

}
.custom-hotel-form .custom-book-input:focus {
    border-bottom: solid 1px #51bce6;
    
}
.book-sbmt-btn {
    background: #51bce6;
    border: #51bce6;
}
.switcher {padding:5px;background:grey}
.switcher.active {color:red}
.plans {display:none}
.plans.active {display:block}
/* 
.custom-form-display {
    display: block;
}
.custom-table-display {
    display: none;
} */
#img1 {
    display: block;
}
#img2 {
    display: none;
    margin-top: 40px;
}
.admin-tab-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
    background: #fff;
    color: #444;
    border-bottom: solid 1px #007bff;
    border-radius: 0;
    font-weight: bold;
   
}
.admin-tab-content .nav-pills .nav-link {
    color: #fff;
    background-color: #007bff;
    background: #fff;
    color: #999;
    border-bottom: solid 1px #e1e1e1;
    border-radius: 0;
    margin: 8px 0;
    text-transform: uppercase;
    font-size: 13px;
    /* transition: all ease-in-out 0.5s; */
}
.admin-tab-content .nav-pills .nav-link .fa {
    color: #f90;
    font-size: 15px;
    padding-right: 8px;
}