.admin-content {
    background: #f9f9f9;
    padding: 3%;
}
.admin-tab-content {
    background: #fff;
    /* padding: 20px; */
    border-right: solid thin #e1e1e1;
    /* border: solid thin #e1e1e1; */
    box-shadow: 0 0 8px 0 rgba(0,0,0,.05);
    border-radius: 3px;
}
.admin-hotel-content p {
    margin: 0!important;
}
.admin-hotel-content .fa-h-square {
    border: solid thin #e1e1e1;
    border-radius: 50%;
   padding: 10px 12px;
   color: #e04f67;
}
.admin-hotel-content .hotel-first-para {
    padding-left: 50px;
    margin-top: -12px!important;
    color: #999;
    font-size: 11px !important;
}
.admin-hotel-content span {
    padding-left: 10px;
}
.admin-hotel-content .para-color {
    color: #999!important;

}
.admin-hotel-content .admin-booking-para {
    text-transform: uppercase;
    display: block;
    color: #555;
    font-size: 11px!important;
    line-height: 12px;
    font-weight: bold;
}
.custom-admin-edit-btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #999;
    /* background: #51bce6; */
    cursor: pointer;
    padding: 7px 8px;
    font-size: 11px;
    line-height: 9px;
    display: block;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0;
}
.btn-info {
    color: #fff;
}
.wihlist-content .custom-img-box {
    width: auto;
    height: auto;
}
.setting-content h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;

}
.profile-content h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.admin-upper-most-para {
    color: #fff;
}
.custom-hotel-buttons button {
    margin: 0 50px;
}
.custom-hotel-buttons .custom-view-btn {
    padding: 5px 30px;
    border-radius: 22px;
}
.custom-view-btn:hover {
    box-shadow: 0 14px 26px -12px rgba(0,188,212,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,188,212,.2);
}
.custom-hotel-buttons .custom-add-btn {
    padding: 5px 30px;
    border-radius: 22px;
}
.custom-add-btn:hover {
    box-shadow: 0 14px 26px -12px #007bff, 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0, 123, 255, 0.1);
}
.custom-hotel-form {
    margin-top: 40px;
}
.custom-hotel-form .custom-book-input {
    border-top: none!important;
    border-right: none!important;
    border-left: none!important;
    box-shadow: none!important;
    border-radius: 0!important;

}
.custom-hotel-form .custom-book-input:focus {
    border-bottom: solid 1px #51bce6;
    
}
.book-sbmt-btn {
    background: #51bce6;
    border: #51bce6;
    color: #fff;

}
.book-sbmt-btn-sign {
    background: #51bce6;
    border: #51bce6;
    color: #fff;
    margin-bottom: 20px;
}
.switcher {padding:5px;background:grey}
.switcher.active {color:red}
.plans {display:none}
.plans.active {display:block}
/* 
.custom-form-display {
    display: block;
}
.custom-table-display {
    display: none;
} */
#img1 {
    display: block;
}
#img2 {
    display: none;
    margin-top: 40px;
}
.admin-tab-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    /* color: #fff;
    background-color: #51bce6; */
    /* background: #fff; */
    color: #fff;
    border-left: solid 5px #b50828;
    border-radius: 0;
    font-weight: bold;
    transition: all ease 0.2s;
    padding-left: 25px;
   
   
}
/* .admin-tab-content .nav-link:focus .fa {
    color: #fff!important;
}
.admin-tab-content .nav-link:focus .fa {
    color: #fff!important;
} */
.admin-tab-content .nav-pills .nav-link {
    /* margin: 8px 0; */
    margin-bottom: 10px;
    color: #fff;
    background-color: #E14E68;
    /* background: #fff; */
    color: #fff;
    /* border-bottom: solid 1px #e1e1e1; */
    border-radius: 0;
    padding: 15px 0;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);    
    /* transition: all ease-in-out 0.5s; */
}
.admin-tab-content .nav-pills .nav-link .fa {
    color: #fff;
    font-size: 18px;
    padding-right: 8px;
}
.left-side-border {
    /* border-right: solid thin #e1e1e1; */
    padding: 0;
}
.right-side-padding {
    padding: 20px;
    padding-bottom: 0;
}
.btn-primary {
    background: #007bff!important;
    border-color: #007bff!important;
}
.btn-info {
    background: #17a2b8!important;
    border-color: #17a2b8!important;
}